{% extends "layout.html" %}

{% block body %}
<h1> Horse App </h1>

{%if not current_user.is_active%}
<p>You are not currently logged in.</p>
<p>Please, create a new user or login to use the application.</p>
{% endif %}

{% if all_riders is defined %}

<h2>Lessons' state</h2>
  
{% if not all_riders %}
<p> There are no lessons listed right now. </p>
{% else %}
<ul>
  {% for lesson in all_riders %}
  <li>
    On {{lesson.day}} {{lesson.starts}} to {{lesson.ends}} there are {{lesson.number_of_riders}} riders.
  </li>
  {% endfor %}
</ul>
{% endif %}
{% endif %}

{% endblock %}