{% extends "layout.html" %}

{% block body %}
<h1>Set horses to riders</h1>
<table>
  <tr>
    <th>Lesson</th>
    {% for horse in all_horses %}
    <th>{{ horse.name }}</th>
    {% endfor%}
  </tr>
  <tr>
    <td>{{ lesson.day }}</td>
    {% for horse in all_horses %}
    {% if horse.id in horses_with_riders %}
    {% for lesson in selected_horses_and_riders %}
    {% if lesson.horse_id == horse.id %}
    <td>{{ horses_with_riders[horse.id]}}</td>
    {% endif %}
    {% endfor%}
    {% else %}
    <form method="POST" action="{{ url_for('validate_choices', lesson_id=lesson.id, horse_id=horse.id) }}">

      <th>{{ form.riders(id=horse.id)}} <input type="submit" value="Set" /></th>

    </form>
    {% endif %}
    {% endfor%}

  </tr>

</table>



{% endblock %}