{% extends "layout.html" %}

{% block body %}
<h1>Lessons</h1>

{% if not current_user.skill_level%}
<p>Set your skill level before applying for lessons.</p>
{% else %}
<table class="table">
  <tr>
    <th>Date</th>
    <th>Start at</th>
    <th>Ends at</th>
    <th>Price</th>
    <th>Skill Level</th>
    <th>Type Of Lesson</th>
  </tr>
  {% for lesson in lessons %}
  <tr>
    <td>{{ lesson.day }}</td>
    <td>{{ lesson.start_time }}</td>
    <td>{{ lesson.end_time }}</td>
    <td>{{ lesson.price }}</td>
    <td>{{ lesson.skill_level }}</td>
    <td>{{ lesson.type_of_lesson }}</td>
    <td>
      {%if lesson.id in lessons_of_rider %}
      <form method="POST" action="{{ url_for('cancel_lesson', lesson_id=lesson.id) }}">
        <input type="submit" value="Cancel registration" />
      </form>
      {% else%}
      <form method="POST" action="{{ url_for('sign_up_for_lesson', lesson_id=lesson.id) }}">
        <input type="submit" value="Sign up" />
      </form>
      {% endif %}
    </td>
  </tr>
  {% endfor %}
</table>
{% endif %}
{% endblock %}