{% extends "layout.html" %}

{% block body %}
<h1>Lessons</h1>
  <table>
    <tr>
      <th>Date</th>
      <th>Start at</th>
      <th>Ends at</th>
      <th>Price</th>
      <th>Skill Level</th>
      <th>Type Of Lesson</th>
    </tr>
    {% for lesson in lessons %}
    <tr>
      <td>{{ lesson.day }}</td>
      <td>{{ lesson.start_time }}</td>
      <td>{{ lesson.end_time }}</td>
      <td>{{ lesson.price }}</td>
      <td>{{ lesson.skill_level }}</td>
      <td>{{ lesson.type_of_lesson }}</td>
        <td>
            <form method="POST" action="{{ url_for('edit_lesson', lesson_id=lesson.id) }}">
                <input type="submit" value="Edit"/>
              </form>
        </td>
        <td>
          <form method="POST" action="{{ url_for('delete_lesson', lesson_id=lesson.id) }}">
            <input type="submit" value="Delete"/>
          </form>
        </td>
    </tr>
    {% endfor %}
  </table>
{% endblock %}
